.machineInfoSimpleCard {
  width: 240px;
  height: 116px;
  border-radius: 10px;
  background: #fafbf6;
  padding: 20px;
  margin-top: 8.5px;
}

.title {
  color: #1a1736;
  font-family: "Google Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.machineAmount {
  color: #1a1736;
  font-family: "Google Sans";
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  // line-height: normal;
  letter-spacing: -1px;
  margin-top: -5px;
}
