.custom-div {
    position: fixed;
    bottom: 3%;
    right: 1%;
    text-justify: center;
    width: 156px;
    height: 50px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="156" height="50" viewBox="0 0 156 50" fill="none"><path d="M0.5 25C0.5 11.1929 11.6929 0 25.5 0H156V25C156 38.8071 144.807 50 131 50H25.5C11.6929 50 0.5 38.8071 0.5 25Z" fill="url(%23paint0_linear_1957_6429)"/><defs><linearGradient id="paint0_linear_1957_6429" x1="11" y1="25" x2="147" y2="25" gradientUnits="userSpaceOnUse"><stop stop-color="%231E2E79"/><stop offset="1" stop-color="%230BA5F0"/></linearGradient></defs></svg>');
  }