.energyOverviewCard {
  padding: 13px;
  width: 165px;
  height: 118px;
  margin-bottom: 15px;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 10px 10px 15px 0px rgba(71, 80, 97, 0.08);
}

.energyTitel {
  color: #1e2772;
  font-family: "Google Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.energyCost {
  color: #1e2772;
  font-family: "Google Sans";
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.4px;
}

.energyCostCurrency {
  color: #1e2772;
  font-family: "Google Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.2px;
}

// .bottomColorBar {
//     border-bottom-left-radius: 5px;
//     border-bottom-right-radius: 5px;
//     height: 6px;
// }

.energyCostOverviewCard {
  padding: 15px;
  // height: 275px;
  // border-radius: var(--4, 4px);

  width: 245px;
  height: 283px;
  flex-shrink: 0;

  border-radius: 10px;
  background: var(--white-100, #fff);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
}

.mainHeading {
  color: #1e2772;
  font-family: "Google Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.amount {
  color: #1e2772;
  text-align: right;
  font-family: "Google Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.unit {
  color: #1e2772;
  font-family: "Google Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.energyInfo {
  color: #1e2772;
  font-family: "Google Sans";
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.verticalBar {
  width: 1.5px;
  height: 55px;
  background-color: #efefef;
}

.colorFullBar {
  width: 5px;
  height: 80px;
}

.grayRoundedBackground {
  border-radius: 4px;
  //   opacity: 0.1;
  background-color: #f4f3f7;
  color: #1e2772;
  font-family: "Google Sans";
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  padding: 2px;
}

.blueButtonBox {
  width: 200px;
  height: 42px;
  background: linear-gradient(90deg, #1e2772 2.56%, #09aef9 99.94%);
  text-align: center;
  border-radius: 5px;
}
.blueButtonText {
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
  letter-spacing: -0.3px;
  margin-top: 10px;
}

.allGroupBox {
  width: 293px;
  height: 42px;
  background: white;
  text-align: start;
  border-radius: 5px;
}
.allGroupText {
  color: #1a1736;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.3px;
  margin-top: 10px;
  padding-left: 13px;
}

// .selectState {
//   width: 193px;
//   // background-color: white;
//

//   padding-left: 42px !important;
//   padding-bottom: 42px !important;
//   border: none;
//   border-radius: 5px;
// }

.selectState {
  width: 193px;
  padding: 5px; /* Add padding to the select element */
  border: none; /* Add a border for better visibility */
  border-radius: 5px;
  padding: 12px;
  background-color: white;

  color: #1a1736;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.3px;
}

/* Style the options within the select element */
.selectState option {
  background-color: white;
  color: #1a1736;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
  letter-spacing: -0.3px;
}

/* Style the select element when it's focused */
.selectState:focus {
  outline: none; /* Remove the default focus outline */
  border: 1px solid #09aef9; /* Highlight the border when focused */
  box-shadow: 0 0 5px rgba(9, 174, 249, 0.5); /* Add a subtle shadow */
}
