.machineInfoMainLeftCard {
  padding: 7px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
}

.jobCard {
  width: 48%;
  height: 316px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
}

.cardTitel {
  color: #1a1736;
  font-family: "Google Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.36px;
}

.avalibilityText {
  color: #1a1736;
  font-family: "Google Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.48px;
}

.runHoursLTM {
  color: #1a1736;
  text-align: right;
  font-family: "Google Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.28px;
}

.runHourAmount {
  color: #1a1736;
  text-align: right;
  font-family: "Google Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.6px;
}

.cardBody {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
}
.reportHeading {
  color: #1a1736;
  font-family: "Google Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.48px;
}
.reportTitel {
  color: #1a1736;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Google Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 125% */
  letter-spacing: -0.3px;
}
.reportInfo {
  color: #524d82;
  font-family: "Google Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

//  GUAGE GRAH CARD

.gaugeCardBody {
  width: 242px;
  height: 130px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  padding: 13px;
  margin-bottom: 20px;
}

.selector {
  width: 68px;
  height: 27px;
  flex-shrink: 0;

  border-radius: 6px;
  border: 0.5px solid #d5d6da;
  background-color: #fff;
}

.headingOfCard {
  color: #1e2772;
  font-family: "Google Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.percentageValue {
  color: #e21d1d;
  font-family: "Google Sans";
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1.6px;
}

.percentageSign {
  font-family: "Google Sans";
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1.2px;
}

.hungeryMachineContainer {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  padding: 4px 10px 5px 13px;
}

.hungeryMachineText {
  color: #1a1736;
  font-family: "Google Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
